


/* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .logo img {
    width: 50px;
  }
  
  
  nav ul {
    display: flex;
    list-style-type: none;
  }
  
  nav ul li {
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #393E46;
    font-weight: bold;
  }
  
  nav ul li {
    margin-right: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  nav ul li:hover {
    transform: translateY(-3px);
  }
/* Footer styles */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
    padding: 200px;
    text-align: center;
    color: #666;
  }
  
  .footer-content {
    margin: 0 auto;
  }
  
  .footer-content a {
    color: #393E46;
    text-decoration: none;
    font-weight: bold;
  }
  
  .footer-content a:hover {
    color: #393E46;
  }
  
  body,
  h2,
  .info h3,
  button[type="submit"],
  .footer-content a {
    font-family: 'Josefin Sans', sans-serif;
  }.footer-content a {
    color: #393E46;
    text-decoration: none;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .footer-content a i {
    font-size: 20px;
    transition: color 0.3s ease-in-out;
  }
  
  .footer-content a:hover i {
    color: #03416d;
  }
  