@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}

:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
  font-size: 14px;
}


header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  max-width: 1729px ;
  margin: 0 auto;
  font-size: 30px;
}

.logo {
  order: 1;
}

.logo img {
  width: 50px;
}

.logo h1 {
  font-size: var(--font-size);
  font-weight: bold;
  margin-left: 10px;
  color: #393E46;
}

nav {
  order: 2;
}

nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 30px;
  transition: transform 0.3s ease-in-out;
}

nav ul li:hover {
  transform: translateY(-3px);
}

nav ul li a {
  display: inline-block;
  text-decoration: none;
  color: #393E46;
  font-weight: bold;
  position: relative;

}

nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ffafcc;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

nav ul li a:hover::before {
  transform: scaleX(1);
}
nav ul li a {
  font-size: 30px; 
}
/* Main content */
.main-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  min-height: 100vh;
  background: #11131e;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.card {
  background: #191c29;
  width: 400px;
  height:  400px;
  position: relative;
  /* padding: 1rem 2rem 5rem;  */
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  color: #f2f2f2;
  cursor: pointer;
  font-family: 'Josefin Sans', sans-serif;
  margin: 2rem;

}


.card:hover {
  color: #ffafcc;
  transition: color 1s;
}

.card:hover:before,
.card:hover:after {
  animation: none;
  opacity: 0;
}

.card::before {
  content: "";
  width: 104%;
  height: 102%;
  border-radius: 8px;
  background-image: linear-gradient(var(--rotate), #cfbaf0, #14213d 43%, #ffafcc);
  position: absolute;
  z-index: -1;
  top: -1%;
  left: -2%;
  animation: spin 2.5s linear infinite;
}

.card::after {
  position: absolute;
  content: "";
  top: calc(var(--card-height) / 6);
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  margin: 0 auto;
  transform: scale(0.8);
  filter: blur(calc(var(--card-height) / 6));
  background-image: linear-gradient(var(--rotate), #cfbaf0, #14213d 43%, #ffafcc);
  opacity: 1;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
  justify-content: space-between;
}

@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}

 .employee-card {
  color: #fff;
  margin: 10px; 
}

.employee-card p {
  margin: 5px;
} 

.employee-card span {
  font-weight: normal;
} 

 .employee-image img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #fff;
  font-weight: bold;
  height: inherit;
 
} 

 p {
  color: #828796;
  text-decoration: none;
  font-family: 'Josefin Sans';
  font-weight: bold;
  margin-top: 1rem;
  opacity: 5;
  transition: opacity 0.5s;
  animation: spin 2.5s linear infinite;
 font-size: 14px;
} 
 
/* Footer styles */

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f2f2f2; 
 
}

.footer {
  margin: 0 auto; 
}

.footer-content a  {
  color: #8d8d8d; 
  text-decoration: none;
  font-weight: bold;
  flex: wrap;
  font-size: 20px; 
}

.footer-content a:hover  {
  color: #f2f2f2; 
}


